.orders-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Proxima Nova Thin";
}

.orders-page-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
}

.orders-page-header div h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 10px;
  width: fit-content;
}

.orders-page-header div h4 {
  font-size: 1.2em;
  color: #383838;
  margin-bottom: 10px;
  width: fit-content;
  font-weight: normal;
}

.orders-page-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #4b5842;
  font-family: "Proxima Nova Light";
  border-radius: 10px;
  color: white;
  max-width: 1000px;
  margin-top: 40px;
}

.quantity-button {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}

.quantity-button:hover {
  background-color: #e9e9e9;
}

.orders-page-table-header,
.orders-page-table-row,
.orders-page-table-footer {
  display: contents;
}

.orders-page-table-item {
  padding: 30px;
  text-align: center;
  font-family: "Proxima Nova Light";
}

.orders-page-table-item:first-child {
  text-align: left;
}

.orders-page-table-header .orders-page-table-item {
  font-weight: bold;
}

.orders-page-table-header > div:first-child {
  padding-left: 100px;
}

.orders-page-table-footer {
  font-weight: bold;
}

.orders-page-table-footer .orders-page-table-item {
  border: none;
  text-align: right;
}

.orders-page-table-item {
  border-bottom: 0.7px solid white;
}
.order-card {
  font-family: "Proxima Nova Thin";
  margin-bottom: 20px;
}

.order-header > h3,
.order-header > p {
  color: #383838;
  max-width: 100%;
  width: 100%;
  text-align: start;
  font-family: "Proxima Nova Thin";
}

.order-header > p {
  font-size: 1em;
}

.orders-page-table-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.orders-page-table-quantity button {
  padding: 5px 8px;
  background: none;
  outline: none;
  color: #fff;
  border: 0.5px solid #fff;
}

.orders-page-table-product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.orders-page-table-product-info div h5,
div h2 {
  font-family: "Proxima Nova Light";
}

.orders-page-table-product-info img {
  width: 100px;
  border-radius: 10px;
}

.orders-page-table-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-items-orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.no-items-orders-container h2 {
  color: black;
}
