.orders-page-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;

  width: 80%;
  margin: 0 auto;
  padding: 20px;

  font-family: "Proxima Nova Light";
  border-radius: 10px;
  color: white;
  max-width: 1000px;
  margin-top: 40px;
}

.orders-page-table-header,
.orders-page-table-row,
.orders-page-table-footer {
  display: contents;
}

.orders-page-table-item {
  padding: 30px;
  text-align: center;
  font-family: "Proxima Nova Light";
}

.orders-page-table-item:first-child {
  text-align: left;
}

.orders-page-table-header .orders-page-table-item {
  font-weight: bold;
}

.orders-page-table-footer {
  font-weight: bold;
}

.orders-page-table-footer .orders-page-table-item {
  border: none;
  text-align: right;
}

.orders-page-table-item {
  border-bottom: 0.7px solid white;
}
