.main-container {
  background-color: #4b5842;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container-login {
  padding: 20px;
  height: 97vh;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 30px;
  padding-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 30px;
  gap: 40px;
}

.image-container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.logo-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.logo-container-login > h1 {
  font-family: "Cormorant Semibold";
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1.6em;
}

.logo-container-login > p {
  font-family: "Proxima Nova Thin";
  color: white;
  margin: 3px;
  text-align: center;
  font-size: 0.9em;
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}

.inputs-container-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputs-container-login > p {
  margin-top: 5px;
  max-width: 100%;
}

.inputs-container-login > p > a {
  cursor: pointer;
  font-family: "Proxima Nova Semibold";
  text-decoration: none;
  color: white;
}

@media (max-width: 1050px) {
  .image-container {
    display: none;
  }
  .form-container-login {
    width: 100%;
    margin-inline: 20px;
  }
}
