.main-container {
  background-color: #4b5842;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 30px;
  padding-left: 10px;
  width: 50%;
  gap: 10px;
}

.name-container {
  display: flex;
  width: 100%;
}

.inputs-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
