.main-container {
  background-color: #4b5842;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container {
  padding: 20px;
  height: 97vh;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 30px;
  padding-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 30px;
  gap: 40px;
}

.image-container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container > h1 {
  font-family: "Cormorant Semibold";
  color: white;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.btn-container {
  align-self: center;
  max-width: 260px;
  margin-bottom: 10px;
}

@media (max-width: 1050px) {
  .image-container {
    display: none;
  }
  .form-container {
    width: 100%;
    margin-inline: 20px;
  }
}
