.upload-container {
  max-width: 1000px;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 0;
  padding-bottom: 0;
}

.upload-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.upload-area {
  border: 2px dashed #4b5842;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-area:hover {
  border-color: #666;
}

.upload-area.dragover {
  border-color: #be7d86;
  background-color: #f7d6d669;
}

.file-input {
  display: none;
}

.upload-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.upload-icon {
  color: #666;
}

.upload-text {
  text-align: center;
}

.upload-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: black;
}

.upload-subtitle {
  color: #666;
  font-size: 0.875rem;
}

.preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.preview-wrapper {
  position: relative;
}

.preview-image {
  max-height: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-button {
  position: absolute;
  top: -8px;
  right: 0px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 24px;
  width: 24px;
}

.clear-button:hover {
  background-color: #cc0000;
}
