.listing-details {
  margin-left: 250px;
  padding: 40px 20px;
}

.listing-details > h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 20px;
  width: fit-content;
}
