.growing-plt-card {
  border: 1px solid #b76e79;
  background-color: #b76e7918;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.growing-plt-card > h2 {
  font-family: "Cormorant Semibold";
  color: #b76e79;
}

.growing-plt-card > p {
  font-family: "Cormorant Regular";
  color: rgb(116, 116, 116);
}
