@import url(../../styles/fonts.css);

.btn-container {
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.growing-plants-container {
  margin-left: 250px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.growing-plants-container > h1 {
  font-family: "Cormorant Semibold";
  font-size: 2em;
  color: #b76e79;
  margin-top: 15px;
}

.growing-plants-container > h2 {
    font-family: "Cormorant Regular";
    font-weight: 100;
    font-size: 1.4em;
    color: #838383;
    margin-top: 5px;
}

.growing-plt-cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}