.marketplace-container {
  margin-left: 250px;
  padding: 40px 20px;
}

.marketplace-container > h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 20px;
  width: fit-content;
}

.marketplace-container > div:last-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .marketplace-container {
    margin-left: 0;
  }
}
