@import url(../../styles/fonts.css);

.plant-details-container {
  margin-left: 250px;
  padding-left: 20px;
}

.plant-name-type {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plant-name-type > h1 {
  font-family: "Cormorant Semibold";
  font-size: 2.7em;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #be7d86;
  color: #383838;
  width: fit-content;
  margin-top: 50px;
}

.plant-name-type > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.plant-name-type > span > svg {
  margin-top: 10px;
}

.plant-name-type > span > p {
  margin-top: 10px;
  text-transform: capitalize;
  color: #777777;
  font-size: 1.2em;
  font-family: "Proxima Nova Light";
}

.planted-date {
  margin-block: 40px;
  color: #383838;
  font-size: 1em;
  white-space: nowrap;
}

.plant-details-container > div:last-child {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-right: 20px;
}

.sensor-data-container {
  background-color: #4b58421d;
  border: 0.5px solid #383838;
  border-radius: 10px;
  padding: 20px;
}
