@import url(../../styles/fonts.css);

.plant-details-container{
    margin-left: 250px;
    padding-left: 20px;
}

.plant-name-type{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plant-name-type h1 {
    font-family: "Cormorant Semibold";
    font-size: 3em;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 5px;
    width: 40%;
}

.plant-name-type h3 {
    font-family: "Cormorant Regular";
    font-weight: 100;
    font-size: 1.2em;
    color: #474747;
    padding-left: 5px;
    text-transform: capitalize;
}