.gardeners-orders-page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 250px;
}

.gardeners-orders-page-header {
  margin-bottom: 20px;
  text-align: center;
}

.gardeners-orders-page-header h1 {
  font-size: 2rem;
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  width: fit-content;
}

.gardeners-orders-page-header h4 {
  color: #555;
  font-family: "Cormorant Semibold";
  text-align: start;
  padding-left: 5px;
}

.gardeners-orders-page-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gardener-order-card {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #b76e79;
  background-color: #b76e7918;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gardener-order-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #b76e79;
  margin-bottom: 10px;
  border-bottom: 0.5px solid gray;
  font-family: "Cormorant Semibold";
}

.gardener-order-card p {
  margin: 5px 0;
  color: #666;
  width: 100%;
  max-width: 100%;
  text-align: start;
  font-size: 0.9em;
}

.no-orders-container {
  text-align: center;
  margin-top: 50px;
}

.no-orders-container h2 {
  color: #999;
  font-weight: normal;
}
