.cart-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
}

.cart-page-header div h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 10px;
  width: fit-content;
}

.cart-page-header div h4 {
  font-size: 1.2em;
  color: #383838;
  margin-bottom: 10px;
  width: fit-content;
  font-weight: normal;
}
