.button-container {
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.growing-plants-container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.growing-plants-container > h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 20px;
  width: fit-content;
  padding-left: 20px;
}

.growing-plt-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
  margin-left: 250px;
}

.empty-state-container {
  width: 100%;
  height: 60vh;
  background-image: url("../../../assets/images/EmptyState/emptyStateImage.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 40px;
}

.empty-state-container > p {
  color: #6b6b6b;
  font-family: "Proxima Nova Semibold";
  font-size: 1.5rem;
  max-width: 100%;
  padding-bottom: 40px;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .growing-plants-container {
    margin-left: 0;
  }
}
