.button-container {
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.growing-plants-container {
  margin-left: 250px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.growing-plants-container > h1 {
  color: #383838;
  font-family: "Cormorant Semibold";
  font-size: 2em;
  margin-block: 15px;
  border-bottom: 0.5px solid #383838;
  width: fit-content;
  align-self: center;
}

.growing-plt-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-right: 20px;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
  margin-left: 250px;
}
