.posted-plant-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin-left: 250px;
  padding-top: 3rem;
}

.posted-plant-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0; /* Temporary reset */
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.posted-plant-details > h2 {
  font-family: "Cormorant Semibold";
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #383838;
  color: #383838;
  width: fit-content;
}

.posted-plant-details > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.posted-plant-details > span > svg {
  margin-top: 10px;
}

.posted-plant-details > span > p {
  margin-top: 10px;
  text-transform: capitalize;
  color: #777777;
  font-size: 1em;
  font-family: "Proxima Nova Light";
}

.posted-plant-price {
  font-family: "Proxima Nova Light";
  color: #383838;
  font-size: 2.5em;
  width: fit-content;
  margin-top: 30px;
}

.posted-plant-details > h3 {
  font-family: "Cormorant Semibold";
  font-size: 1.5em;
  color: #383838;
  width: fit-content;
  margin-top: 30px;
}

.posted-plant-description {
  box-sizing: border-box;
  font-family: "Proxima Nova Light";
  font-size: 1.1em;
  color: #383838;
  margin-top: 10px;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
}
