@import url("../../../styles/fonts.css");

.main-container {
  background-color: #4b5842;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container {
  padding: 20px;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 30px;
  padding-left: 10px;
  width: 40%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container > h1 {
  font-family: "Cormorant Semibold";
  color: white;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.logo-container > p {
  font-family: "Proxima Nova Thin";
  color: white;
  margin: 3px;
  text-align: center;
  font-size: 1em;
  max-width: 370px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.name-container {
  display: flex;
  width: 100%;
}

.inputs-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .image-container {
    display: none;
  }
  .form-container {
    width: 100%;
    margin-inline: 20px;
  }
}
