.card-container {
  width: 240px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #dbdbdb;
  transition: box-shadow 0.3s ease;
  background-color: white;
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 0px 0px 20px 8px #c3c3c3;
}

.card-img-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-info-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  padding-block: 5px;
  height: 150px;
  padding-top: 10px;
}

.card-info-container > h2 {
  font-family: "Cormorant Semibold";
  font-size: 1.4em;
  color: #1c1c1c;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #be7d86;
}

.card-info-container > p {
  font-family: "Proxima Nova Light";
  font-size: 0.9em;
  color: #383838;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info-container > p:last-child {
  justify-self: flex-end;
}
