@import url(../../../styles/fonts.css);

.gardener-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #4b5842;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.gardener-navbar img {
  width: 170px;
  height: auto;
  margin-left: 20px;
}

.gardener-info,
.plants-nav-links,
.personal-nav-links {
  width: 90%;
  align-self: center;
}

.plants-nav-links,
.personal-nav-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gardener-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gardener-name {
  display: flex;
  flex-direction: column;
}

.gardener-name > h3 {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Regular";
  font-weight: 100;
  font-size: 1.5em;
  color: white;
}

.gardener-name > p {
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova Light";
  font-weight: 100;
  font-size: 0.9em;
  color: #a1a1a1;
}

.gardener-nav-link {
  display: flex;
  gap: 10px;
  color: white;
  width: 100%;
  font-family: "Proxima Nova Light";
  letter-spacing: 1px;
  padding-left: 20px;
  padding-block: 5px;
  cursor: pointer;
}

.plants-nav-links {
    padding-block: 30px;
    border-block: 0.2px solid #bdbdbd;
}

.gardener-nav-link:hover {
    background-color: #f6d1d11b;
    border-radius: 20px;
}