.users-container {
  margin-left: 250px;
  padding: 40px 20px;
}

.users-container > h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 20px;
  width: fit-content;
}

.css-1izq62b-MuiFormControl-root-MuiTextField-root {
  width: 175%;
}
