.welcome-section {
  background-color: #4b58429a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-section > div {
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.welcome-section > div > h1 {
  font-family: "Cormorant Regular";
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 0.5px solid white;
}

.welcome-section > div > p {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: "Proxima Nova Thin";
  font-size: 1.3em;
  line-height: 35px;
}

.trending-flowers {
  background-image: url("../../../assets/images/TrendingFlowers/trending-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending-flowers > div {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.424);
}
