@import url("../../../styles/fonts.css");

nav {
  height: 75px;
  background-color: #4b5842;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  align-items: center;
}

nav img, .nav-links ul li, .nav-icons svg{
    cursor: pointer;
}

nav img {
  height: 65%;
}

.nav-links ul {
  display: flex;
  gap: 30px;
}
.nav-links li {
  text-decoration: none;
  list-style: none;
  font-family: "Proxima Nova Regular";
  color: white;
}

.nav-links li:nth-child(2) {
  display: flex;
}

.nav-icons {
  color: white;
  display: flex;
  gap: 30px;
}
