nav {
  height: 75px;
  background-color: #4b5842;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  align-items: center;
}

nav img,
.nav-links ul li,
.nav-icons svg {
  cursor: pointer;
}

nav img {
  height: 65%;
}

.nav-links ul {
  display: flex;
  gap: 30px;
}
.nav-links li {
  text-decoration: none;
  list-style: none;
  font-family: "Proxima Nova Light";
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.nav-links li:nth-child(2) {
  display: flex;
}

.nav-links li:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.nav-icons {
  color: white;
  display: flex;
  gap: 20px;
}

.nav-icons svg {
  box-sizing: content-box;
  padding: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.nav-icons svg:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-content {
  display: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px) scale(0.98);
  transform-origin: top right;
  transition: all 0.2s cubic-bezier(0.24, 0.22, 0.015, 1.56);
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 100%;
}

.user-dropdown:hover .user-dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

.user-dropdown-content a {
  color: #383838;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Proxima Nova Light";
}

.user-dropdown-content a:hover {
  background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}
