@import url(../../styles/fonts.css);

.post-plant-form {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.post-plant-form h1 {
  font-family: "Cormorant Semibold";
  color: #383838;
  margin: 50px 20px;
  font-size: 2em;
  border-bottom: 1px solid #383838;
  width: auto;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

.post-inputs-container {
  padding-inline: 20px;
  display: flex;
  gap: 10px;
}

.post-images-desc {
  display: flex;
}

.post-images-desc > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-section {
  margin-right: 20px;
}

.form-section > *:first-child {
  margin-bottom: 20px;
}

.form-section > *:last-child {
  margin-bottom: 0;
}

.css-10o2lyd-MuiStack-root {
  margin-top: 13px;
}

.post-plant-form > div:last-child {
  margin-top: 10px;
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-plant-form > div:last-child > div {
  display: flex;
  gap: 20px;
}

.post-plant-form > div:last-child > p:last-child {
  color: #ff4444;
  font-size: 0.9em;
  font-weight: 400;
  align-self: center;
  font-family: "Proxima Nova Regular";
}

.post-plant-form > div:last-child > p:nth-last-child(1) {
  color: #5cb85c;
  font-size: 0.9em;
  font-weight: 400;
  align-self: center;
  font-family: "Proxima Nova Regular";
}
