@import url(../../styles/fonts.css);

.post-plant-form {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.post-plant-form h1 {
    font-family: "Cormorant Semibold";
    color: #383838;
    margin: 50px 20px;
    font-size: 2em;
    border-bottom: 1px solid #383838;
    width: auto;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}

.post-inputs-container{
    padding-inline: 20px;
    display: flex;
    gap: 10px;
}
