footer{
    background-color: #4B5842;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 100%;
    padding-block: 35px;
    padding-inline: 50px;
}

.subtitle{
    display: flex;
    flex-direction: column;
}

.logo-subtitle{
    display: flex;
}
