@import url("../../../styles/fonts.css");

footer {
  background-color: #4b5842;
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 100%;
  padding-block: 35px;
  padding-inline: 50px;
  display: flex;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.logo-subtitle {
  display: flex;
}

.subtitle h2 {
  font-family: "Cormorant Medium";
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.8em;
  color: white;
}

.subtitle > p{
    font-family: 'Proxima Nova Thin';
    font-size: 1em;
    max-width: 60%;
    text-align: end;
    align-self: flex-end;
}

.logo-subtitle img{
    height: 100px;
    width: auto;
}

.footer-sec-1, .footer-sec-2{
    flex:1;
}

.footer-sec-3{
    flex: 2;
}