footer{
    background-color: #4B5842;
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 100%;
}

.subtitle{
    display: flex;
    flex-direction: column;
}

.logo-subtitle{
    display: flex;
}