@import url("../../../styles/fonts.css");

.icon-container {
  width: 56px;
}

h1{
    font-family: 'Proxima Nova Light';
    color: white;
    font-size: 1.3em;
}

p{
    font-family: 'Proxima Nova Light';
    color: white;
    font-size: 0.8em;
}