.dashboard-info {
  margin-left: 250px;
  padding-inline: 20px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
}

.dashboard-info > h1 {
  font-family: "Cormorant Semibold";
  font-size: 1.9em;
  color: #383838;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #be7d86;
  width: fit-content;
  align-self: center;
}

.admin-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 40px;
}
